/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: hsl(176, 86%, 78%);
}

/* Navbar */
.navbar {
  margin-top: 3%;
  background-image: linear-gradient(120deg,hsla(169, 95%, 25%, 0.933),hsl(176, 86%, 78%));
  border-radius: 43px;
  display: flex;
  width: 98%;
  margin: auto;
}

.navbar-brand {
  font-family: 'Times New Roman';
  font-size: 2.5rem;
  color: rgb(255, 255, 255) !important;
}

.nav-link {
  color: white !important;
  font-family: "Noto Sans JP", sans-serif;
}

.nav-link:hover {
  background-color: hsl(176, 86%, 78%);
  border-radius: 150px;
}

.navbar-brand img {
  width: 50px;
  height: 70px;
}

/* Carousel */
.cslides {
  width: 80%;
  height: 300px; /* Set your desired height */
  margin: 20px auto; /* Adjust margin as needed */
}

/* Main content */
.cmain {
  margin-top: 120px; 
  background-image: linear-gradient(120deg,hsla(169, 95%, 25%, 0.933),hsl(176, 86%, 78%));
  border-radius: 2rem;/* Adjust margin-top as needed */
}

.hero-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70vh;
  width: 98%;
  margin: auto;
  margin-top: 550px;
  border-radius: 23px;
}

.hero-img-container {
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 100px;
  border-radius: 30px;
}

.hero-img-container > img {
  width: 500px;
  padding: 20px;
  border-radius: 43px;
}

.hero-text-container {
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.hero-text-container > h1 {
  font-size: 60px;
  font-weight: 800;
  margin-bottom: 20px;
  color: hsl(184, 100%, 94%);
  line-height: 1.1;
}

.hero-text-container > p {
  color: hsl(184, 100%, 94%);
  margin-bottom: 15px;
  font-weight: 700;
}

.hero-text-container > button {
  padding: 12px 18px;
  border: none;
  outline-width: 0;
  border-radius: 54px;
  cursor: pointer;
  font-weight: 100;
  background-image: linear-gradient(120deg, hsl(204, 16%, 19%), hsla(197, 75%, 41%, 0.44));
}

.hero-text-container > button > a {
  color: rgb(237, 229, 229);
}

/* Footer */
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px; /* Adjust margin-top as needed */
  width: 98%;
  border-radius:2rem;
  background-color: rgba(127, 255, 212, 0.514);
}

.foot {
  border-radius: 2rem;
  display: flex;
  width: 100%;
  padding: 0vh;
  justify-content: right;
  background-color: hsl(176, 57%, 39%);
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
}

.foot img {
  visibility: visible;
  width: 70%;
  height: 80%;
  padding-top: 27px;
  padding-right: 10px;
  float: center;
}

.foot p {
  height: 25px;
  font-size: 1.3em;
  font-family: "Lucida Console", Courier, monospace;
  text-align: center;
  font-weight: bolder;
  padding: 7px;
  margin-right: 2rem;
}

.foot h5 {
  font-size: 1.3em;
  font-family: Times, "Times New Roman", Georgia, serif;
  text-align: left;
  font-weight: bolder;
  padding: 7px;
  margin-right: 999px;
  margin-left: 2rem;
}
.carousel-item{
  font-size: 2rem;
  color: rgb(0, 0, 0);
}
.carousel-caption{
  color: black;
}